/* pt-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Regular'),
         url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff');
}
  /* pt-sans-700 - latin_cyrillic */
  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Bold'), local('PTSans-Bold'),
         url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* img {
    width: 100%;
    height: auto;
} */

.container {
    position: relative;
    width: 1200px;
    background-color: #f2f2f2;

    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2); 
}  

body {
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;   
    text-transform: uppercase; 
    background-color: #f2f2f2;

    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
}

/* header */
.logo {
    position: absolute;
    width: 140px;
    height: 72px;
    top: 0;  
    left: 50%;
    transform: translateX(-50%);  
    z-index: 2;   
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    list-style: none; 
    background-color: #ffffff;

    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    max-width: 100px;
    
    margin: 14px auto 16px;
} 

.navigation a:hover {
    color: #81b3d2;
}

.navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation .active {
    color:#766357;
}

.navigation li {
    text-align: center;
    width: 239px;
}

.navigation li:nth-child(2) {
    margin-right: 122px;
}

.navigation li:nth-child(3) {
    margin-left: 122px;
}

.navigation .this-page {
    color: #766357;
}

.navigation .this-page:hover {
    color:#766357;
}

/* main-главной страницы */
.promo {
    background-color: #81b3d2;
    background-image: url(../img/sedona.jpg);
    background-position-y: -56px;
    padding-top: 508px;
}

.introduction {
    position: relative;
    text-align: center;
    background-color: #ffffff;
    padding: 60px 350px 51px;
}

.introduction::before {
    content: "";
    width: 1202px;
    height: 59px;
    background-image: url('../img/polygon.png');
    position: absolute;
    top: -56px;
    left: 50%;
    transform: translateX(-50%);
}

.introduction h1 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    max-width: 441px;

    padding: 0;
    margin: 0 auto 27px;
}

.introduction h2 {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;

    padding: 0;
    margin: 0;
}

/* карточка наполнения */
.real-city {
    width: 800px;
    line-height: 0;
    background-color: #96a28f;   
}

.causes ul {
    list-style: none;

    padding: 0;
    margin: 0;
}

.blue {
    color: #ffffff;
    background-color: #81b3d2;
}

.advantages {
    text-align: center;
    width: 400px;
    padding: 47px 48px 59px;
}

.blue-box {
    display: flex;

    padding: 0;
    margin: 0;   
} 

.blue p:first-of-type {
    color: rgba(255, 255, 255, 0.5);
}

.blue-number {
    color: #ffffff;
}

.advantages h3 {
    font-size: 21px;
    max-width: 150px;
    padding: 0;
    margin: 0 auto 24px;
}

.advantages p:first-of-type {
    padding: 0;
    margin: 0;
    margin-bottom: 21px;
}

.calendar {
    fill: #000000;
}

.advantages p:last-of-type {
    padding: 0;
    margin: 0;
}

.city-filling {
    display: flex;
    align-items: baseline;
    background-color: #ffffff;

    margin: 0;
    padding: 0;    
}

.city-filling li {
    text-align: center;
    width: 400px; 

    padding: 56px 57px 82px;
}

.city-filling-icon {
    margin-bottom: 23px;
}

.city-filling h3 {
    font-size: 21px;

    margin: 0;
    margin-bottom: 24px;
}

.city-filling p {
    margin: 0;
}

.gray-box ul{
    display: flex;
    flex-wrap: wrap;
}

.gray {
    color: #000000;
    background-color: #eeeeee;
}

.gray p:last-child {
    max-width: 264px;
    
    margin: 0 auto;
}

.gray p:first-of-type {
    color: rgba(0, 0, 0, 0.5);
}

.gray-number {
    color: #000000;
}

/*форма главной страницы */
.map {
    height: 593px;
    background-color: #cbdda9;
}

.address {
    text-align: center;
    background-color: #ffffff;
    padding: 50px 316px 0;
    margin: 0;
}

.address h2 {
    font-size: 30px;
    line-height: 36px;
    color: #000000;

    margin: 0;
    margin-bottom: 24px;
}

.address p {
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 47px;
    max-width:442px;
}

.map-modal {
    position: relative;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 568px;
    background-color: #ffffff;

    padding: 55px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2); 
}

.modal-none {
    display: none;
}

.button {
    font: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    cursor: pointer;
}

.button-search{
    color: #ffffff;
    width: 568px;

    background-color: #766357;

    padding: 30px 140px;
    border: none;
}

.button-search:hover {
    background-color: #604e43;
    border: none;
}

.button-search:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
    border: none;
}

.check-date,
.persone,
.modal label {
    font: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000; 
    height: 38px;
}

.check-date {
    -webkit-appearance: none;
    width: 346px;
    background-color: #f2f2f2;
    border: 0;
}

.modal label{ 
    margin-bottom: 30px;
}

.date-in {
    padding-left: 13px;
    padding-right: 40px;
    margin-left: 20px;
}

.date-out {
    padding-left: 14px;
    padding-right: 40px;
    margin-left: 15px;
}

.calendar {
    position: absolute;
    top: 62px;
    left: 477px;
    fill: #cacaca;
    border: none;
    background-color: transparent;
}

.calendar-2 {
    position: absolute;
    top: 129px;
    left: 477px;
}

.calendar:hover {
    fill: black;
}

.calendar:active {
    fill: #81b3d2;
}

.persone-number {
    display: flex;
    justify-content: space-between;
    width: 458px;
    padding: 0;
    margin: 0;
}

.number-block {
    display: flex;
}

.number-block label {
    margin-top: 5px;
}

.minus-adults {
    margin-left: 41px;
}

.minus-children {
    margin-left: 27px;
}

.sign {
    position: relative;
    width: 38px;
    height: 38px;
    background-color:#f2f2f2;
    border: none;
    cursor: pointer;
}

.minus::before {
    content: "";
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.minus::before:hover {
    color: #000000;
}

.plus::before,
.plus::after {
    content: "";
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
    position: absolute;
    top: 18px;
    left: 13px;
    z-index: 2;
}

.plus::after {
    transform: rotate(90deg);
}

.persone {
    -moz-appearance:textfield;
    text-align: center;
    width: 38px;
    background-color: #f2f2f2;
    border: 0;
    padding-left: 0;
}

.persone::-webkit-outer-spin-button,
.persone::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.check-date:hover,
.persone:hover {
    background-color: #ebebeb;
}

.check-date:focus,
.persone:focus {
    background-color: #ffffff;
}

/* кнопка отправки формы */
.button-submit {
    text-align: center;
    color: #ffffff;
    width: 458px;
    background-color: #81b3d2;
    
    padding: 16px 197px;
    margin-top: 18px;
    border: none;
}

.button-submit:hover {
    background-color: #669ec0;
    border: none;
}

.button-submit:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
    border: none;
}

/* footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.9);
    
    padding: 0;
    margin: 0;
    
    position: absolute;
    bottom: 0;
}

.footer-block {
    width: 400px;
    padding: 31px 0;
}

.contacts {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;

    padding-left: 124px;
}

.contacts> a {
    display: block;
    margin-bottom: 6px;    
}

.contacts p {
    margin: 0;    
}

.contacts a {
    color: #000000;
}

.socials {
    padding: 36px 0 30px;
}

.socials ul{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    padding: 0;
    margin: 0 auto;
}

.socials li {
    list-style: none;
    margin-right: 6px;
    margin-bottom: 6px;
    background-color: #81b3d2;
}

.socials li:nth-child(3n) {
    margin-right: 0px;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;    
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    opacity: 0.3;
    background-color: #5496bd;
}

.html-academy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.html-academy p {
    line-height: 26px;
    color: #000000;
    margin-right: 7px;
}

.logo-html-academy {
    display: block;
    width: 115px;
    height: 41px;
}

.logo-html-academy:hover {
    fill: #81b3d2;
}

.logo-html-academy:active {
    fill: #bdbbbc;
}

/* форма сортировки отелей */
.hotels-sorting {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0;
    background-image: url(../img/filter-sedona.jpg);         
    background-position-y: -60px;
}

.hotels-sorting p {
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 26px;
}

.hotels-sorting li {
    margin-bottom: 25px;
}

/* чекбокс */
.checkbox-sorting {
    display: flex;
    padding: 27px 0 5px 72px;
}

.checkbox-sorting ul {
    padding: 0;
    margin: 0;
}

.checkbox {
	position: absolute;
	z-index: -1;
    opacity: 0;
    
}
.checkbox-label {
	position: relative;
	padding-left: 41px;
    cursor: pointer;
}

.checkbox-label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
    height: 26px;
    background: url(../img/checkbox-off.svg) no-repeat;
}

.checkbox:checked + .checkbox-label:before{
	background: url(../img/checkbox-on.svg) no-repeat;
}

.checkbox:disabled {
    background: url(../img/checkbox-off.svg) no-repeat;   
}

.infrastructure li,
.type-home li {
    list-style: none;
}

.type-home {
    margin: 0;
    margin-left: 118px;
}

.price-day {
    display: flex;
    flex-direction: column;
    padding: 27px 72px 5px 0;
}

.price-day>p {
    margin-bottom: 10px;
}

.price-number {
    display: flex;
    width: 318px;

    padding: 6px 0;
    margin: 0;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.price-number p {
    font-weight: normal;
    text-align: center;
    width: 157px;
    margin: 0;
}

.price-number p:nth-child(2) {
    font-size: 25px;
    width: 2px;
}

.infrastructure,
.type-home,
.price-day {
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #ffffff;
}

.range {
    position: relative;
    display: flex;

    padding: 9px 0;
    margin-bottom: 23px;
}

.range-white {
    width: 262px;
    height: 2px;
    background-color:#ffffff;
}

.range-opacity {
    width: 55px;
    height: 2px;
    background-color:#ffffff;
    opacity: 0.5;
}

.filter-button {
    background: url(../img/filter-button.svg);
    width: 20px;
    height: 22px;
}

.min {
    position: absolute;
    top:0;
}

.max {
    position: absolute;
    top: 0;
    left: 252px;
}

.price-day input[type="submit"] {
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    width: 140px;
    cursor: pointer;

    padding: 6px 0 5px;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.price-day input[type="submit"]:hover {
    color: #000000;

    background-color: #ffffff;
}

/* сортировка отелей */
.sorting {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1200px;

    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.sorting-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 600px;

    padding: 20px 5px 17px 72px;
}

.sorting-price ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 238px;

    padding: 0;
}

.sorting p:first-child {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-price p,
.sorting a {
    font-size: 12px;
    line-height: 18px;
    color: #000000;

    margin: 0;
}

.sorting li:nth-of-type(2) a:hover,
.sorting li:nth-of-type(3) a:hover {
    color:#81b3d2;
}

.sorting li:nth-of-type(2) a:active,
.sorting li:nth-of-type(3) a:active {
    color: #000000;

    border-bottom: none;
}

.sorting-price li:first-child a {
    color: #81b3d2;

    border: none;
}

.sorting-price li:nth-of-type(2) a,
.sorting-price li:nth-of-type(3) a {
    color: rgba(0, 0, 0, 0.3);
    
    border-bottom: 1px dotted #81b3d2;
}

.sorting-id ul {
    display: flex;
    list-style: none;

    padding: 0;
    padding-right: 73px;
}

.sorting-id li {
    margin-left: 12px;
}

.arrow {
    fill: #cacaca;
}

.arrow:hover {
    fill: #000000;
}

.arrow:active {
    fill: #81b3d2;
}

.arrow-active {
    fill: #81b3d2;
}

/* карточки отелей */
.hotels ul {
    width: 1200px;
    list-style: none;

    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.hotels li {
    display: flex;
    justify-content: space-between;
    width: 1200px;

    margin: 0;
    border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel {
    display: flex;
    justify-content: space-between; 
}

.hotel-img {
    max-width: 400px;

    padding: 30px 0 24px 72px;
}

.hotel-img img {
    width: 135px;
    height: 90px;

    background-color: rgb(17, 100, 17);
}

.hotel-text {
    padding: 25px 0 24px 30px;
}

.hotel-text> a{
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    
    margin: 0;
}

.hotel-text> a:hover {
    color: #81b3d2;
}

.hotel-text> a:active {
    color: rgba(0, 0, 0, 0.3);
}

.price {
    display: flex;
    justify-content: space-between;
    width: 180px;

    padding: 7px 0;
    margin-bottom: 1px;
}

.price p {
    margin: 0;
    margin-bottom: 5px;
}

.hotel-button {
    display: flex;
    width: 258px;
    justify-content: space-between;

    padding: 0;
    margin: 0;
}

.hotel-details {
    color: #ffffff;
    text-align: center;
    width: 110px;

    padding: 3px 0;
    background-color: #81b3d2;
}

.hotel-details:hover {
    background-color: #669ec0;
}

.hotel-details:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.hotel-reservation {
    color: #ffffff;
    text-align: center;
    width: 142px;

    padding: 3px 0;
    background-color: #766357;
}

.hotel-reservation:hover {
    background-color: #604e43;
}

.hotel-reservation:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.rating {
    align-self: center; 
    text-align: center;

    padding: 22px 72px 24px 0;
}

.rating p {
    color: #666666;
    
    background-color: rgba(0, 1, 1, 0.2);
    width: 110px;
    
    padding: 3px 0;
    margin: 0;
}

.star {
    height: 17px;

    margin: 0;
    margin-bottom: 47px;
    background-image: url(../img/star.svg);
    background-repeat: space;   
}

.hotel-star {
    width: 89px;

    margin-left: 22px;
}

.motel-star {
    width: 60px;

    margin-left: 52px;
}

.apartments-star {
    width: 42px;
    
    margin-left: 70px;
}

.footer-catalog {
    position: static;
}
