body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;   
    text-transform: uppercase; 
}

a {
    text-decoration: none;
}

/* header */
.header img {
    width: 140px;
    height: 72px;

}

.navigation {
    list-style: none; 
}

.navigation a{
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    text-align: center;
} 

/* .navigation a:visited {
    color: #766357;
} */

.navigation a:hover {
    color: #81b3d2;
}

.navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation .inactive {
    color: #766357;
}

.introduction {
    width: 1200px;
    text-align: center;

    background-color: #ffffff;
}

/* main-главной страницы */
h1 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.causes h2 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

.causes ul {
    list-style: none;
}

.rectangle h3 {
    font-size: 21px;
    text-align: center;
}

.advantages-blue {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    
    background-color: #81b3d2;
    width: 400px;
}

.city-filling li {
    width: 400px;
}

.advantages-gray {
    text-align: center;
            
    background-color: #eeeeee;
    width: 400px;
    height: 256px;
}


.home {
    width: 75px;
    height: 72px;
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
}

.food {
    width: 74px;
    height: 70px;
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
}

.souvenirs {
    width: 64px;
    height: 76px;
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
}

/*форма главной страницы */
.address h2 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.address p {
    line-height: 24px;
    text-align: center;
}

.button-search input[type="button"] {
    font: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #766357;
    width: 568px;
    border: none;
}

.button-search input[type="button"]:hover {
    background-color: #604e43;
    border: none;
}

.button-search input[type="button"]:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
    border: none;
}

.search-form input[type="text"],
.search-form input[type="number"],
.search-form label {
    font: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;    
}

.search-form input[type="text"] {
    background-color: #f2f2f2;
    border: 0;
    width: 346px;
}

.search-form input[type="number"] {
    text-align: center;
    
    background-color: #f2f2f2;
    border: 0;
    width: 114px;
}

.search-form input[type="text"]:hover,
.search-form input[type="number"]:hover {
    background-color: #ebebeb;
}

.search-form input[type="text"]:focus,
.search-form input[type="number"]:focus {
    background-color: #ffffff;
}

.search-form input[type="submit"] {
    font: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #81b3d2;
    width: 456px;
    border: none;
}

.search-form input[type="submit"]:hover {
    background-color: #669ec0;
    border: none;
}

.search-form input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
    border: none;
}

/* footer */
.contacts {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.socials li {
    list-style: none;
}

.tw {
    display: block;
    width: 46px;
    height: 48px;
    background-image: url(../img/tw-icon.svg);
    background-repeat: no-repeat;
    background-color: #81b3d2;
    background-size: 17px 15px;
    background-position: center;
}

.fb {
    display: block;
    width: 46px;
    height: 48px;
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
    background-color: #81b3d2;
    background-size: 12px 22px;
    background-position: center;
}

.youtube {
    display: block;
    width: 46px;
    height: 48px;
    background-image: url(../img/youtube-icon.svg);
    background-repeat: no-repeat;
    background-color: #81b3d2;
    background-size: 20px 16px;
    background-position: center;
}

.contacts a {
    color: #000000;
}

.html-academy p {
    line-height: 26px;
    color: #000000;
}

.html-academy a {
    display: block;
    width: 115px;
    height: 41px;
    background-image: url(../img/logo-htmlacademy.svg);
    background-repeat: no-repeat;
}


/* форма сортировки отелей */
.hotels-sorting {
    background-color: #81b3d2;
}

.infrastructure,
.type-home,
.price-day {
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #ffffff;
}



/* .infrastructure label:before:active {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-size: 23px 23px;
} */

.hotels-sorting p {
    font-size: 16px;
    font-weight: bolder;
}

.price-number p{
    font-weight: normal;
}

.infrastructure li,
.type-home li {
    list-style: none;
}

.hotels-sorting input[type="submit"]{
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #ffffff;

    background-color: transparent;
    border: 1px solid #ffffff;
}

.hotels-sorting input[type="submit"]:hover {
    color: #000000;

    background-color: #ffffff;
}


/* сортировка отелей */
.sorting p,
.sorting a {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.sorting p:first-child {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.sorting a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting a:nth-of-type(2):hover,
.sorting a:nth-of-type(3):hover {
    color:#81b3d2;
}

.sorting a:nth-of-type(2):active,
.sorting a:nth-of-type(3):active {
    color: #000000;

    border-bottom: none;
}

.sorting a:first-of-type {
    color: #81b3d2;
    border: none;
}


.sorting a:nth-of-type(4) {
    border: 10px solid #cacaca;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-top-color: transparent;
}

.sorting a:nth-of-type(4):hover {
    border: 10px solid #000000;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-top-color: transparent;
}

.sorting a:nth-of-type(4):active {
    border: 10px solid #81b3d2;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-top-color: transparent;
}

.sorting a:nth-of-type(5) {
    border: 10px solid #81b3d2;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-bottom-color: transparent;
}

.sorting a:nth-of-type(5):hover {
    border: 10px solid #000000;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-bottom-color: transparent;
}

.sorting a:nth-of-type(5):active {
    border: 10px solid #81b3d2;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-bottom-color: transparent;
}

/* карточки отелей */
.hotels {
    list-style: none;
}

.hotel-text a:first-child{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.hotel-text a:first-child:hover {
    color: #81b3d2;
}

.hotel-text a:first-child:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-details {
    color: #ffffff;
    text-align: center;

    background-color: #81b3d2;
}

.hotel-details:hover {
    background-color: #669ec0;
}

.hotel-details:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.hotel-reservation {
    color: #ffffff;
    text-align: center;

    background-color: #766357;
}

.hotel-reservation:hover {
    background-color: #604e43;
}

.hotel-reservation:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.hotels li>p {
    color: #666666;
    text-align: center;

    background-color: rgba(0, 1, 1, 0.2);
    width: 110px;
}

.star {
    background-image: url(../img/star.svg);
    background-repeat: repeat;
    width: 36px;
    height: 17px;
}

.hotel-star {
    width: 72px;
}

.motel-star {
    width: 54px;
}

