/* pt-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Regular'),
         url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff');
  }
  /* pt-sans-700 - latin_cyrillic */
  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Bold'), local('PTSans-Bold'),
         url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff');
  }

  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.background {
    position: relative;
    width: 1200px;
    background-color: #f2f2f2;

    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2); 
}  

body {
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;   
    text-transform: uppercase; 
    background-color: #f2f2f2;

    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* header */
.header img {
    position: absolute;
    width: 140px;
    height: 72px;
    top: 0;  
    left: 50%;
    transform: translate(-50%, -1px);  
    z-index: 2;   
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    list-style: none; 
    background-color: #ffffff;

    padding: 0;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 0;
}

.navigation a {
    display: block;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;

    padding-top: 15px;
    padding-bottom: 15px;
} 

.navigation a:hover {
    color: #81b3d2;
}

.navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation li {
    text-align: center;
    width: 239px;

    margin: 0;
}

.navigation li:nth-child(2) {
    margin-right: 122px;
}

.navigation li:nth-child(3) {
    margin-left: 122px;
}

.navigation .inactive-a {
    color: #766357;
}

/* main-главной страницы */
.sedona-photo {
    width: 1200px;
    height: 773px;
    background-color: #81b3d2;
    background-image: url(../img/sedona.jpg);
}

.introduction {
    position: absolute;
    top: 564px;
    width: 1200px;
    text-align: center;
    background-color: #ffffff;
    
    padding: 0%;
    padding-bottom: 39px;
    z-index: 1; 
}

.introduction::before {
    display: block;
    content: url(../img/polygon.png);
    transform: translateY(-57px);
}

.introduction h1 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    max-width: 440px;

    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
}

.introduction h2 {
    font-size: 14px;
    line-height: 26px;
    min-width: 489px;
    font-weight: normal;

    padding: 0;
    margin: 0;
}

/* карточка наполнения */
.causes {
    margin-top: 7px;
}

.real-city {
    width: 800px;
    height: 256px; 
    background-color: #766357;   
}

.causes ul {
    list-style: none;

    padding: 0;
    margin: 0;
}

.blue {
    color: #ffffff;
    background-color: #81b3d2;
}

.advantages {
    text-align: center;
    width: 400px;

    padding: 0;
    padding-top: 40px;
    padding-left: 49px;
    padding-right: 49px;
    padding-bottom: 61px;    
}

.blue-box {
    display: flex;

    padding: 0;
    margin: 0;   
} 

.advantages h3 {
    font-size: 21px;
    max-width: 150px;

    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.advantages p:first-of-type {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.advantages p:last-of-type {
    padding: 0;
    margin: 0;
}

.city-filling {
    display: flex;
    align-items: baseline;
    background-color: #ffffff;

    margin: 0;
    padding: 0;    
}

.city-filling li {
    text-align: center;
    width: 400px; 

    padding-top: 50px; 
    padding-left: 59px;
    padding-right: 59px;
    padding-bottom: 79px;
}

.city-filling h3 {
    font-size: 21px;

    margin: 0;
    margin-bottom: 28px;
}

.city-filling p {
    margin: 0;
}

.city-filling img {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
}

.gray-box ul{
    display: flex;
    flex-wrap: wrap;
}

.gray {
    color: #000000;
    background-color: #eeeeee;
}

.gray p:last-child {
    max-width: 258px;

    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

/*форма главной страницы */
.map-sedona {
    height: 593px;
}

.address {
    text-align: center;
    width: 1200px;
    background-color: #ffffff;

    padding: 0;
    padding-top: 54px;
    padding-left: 383px;
    padding-right: 383px;
    padding-bottom: 133px;
    margin: 0;

    position: relative;
}

.address h2 {
    font-size: 30px;
    line-height: 36px;
    color: #000000;

    margin: 0;
    margin-bottom: 20px;
}

.address p {
    line-height: 24px;

    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 568px;
    background-color: #ffffff;

    padding: 0;
    margin: 0;
            
    position: absolute;
    bottom: -395px;
    left: 50%;
    transform: translateX(-50%);
}

.button-search input[type="button"] {
    -webkit-appearance: none;
    font: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    width: 568px;

    background-color: #766357;
    padding-top: 30px;
    padding-left: 139px;
    padding-right: 140px;
    padding-bottom: 30px;
    border: none;
}

.button-search input[type="button"]:hover {
    background-color: #604e43;
    border: none;
}

.button-search input[type="button"]:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
    border: none;
}

.search-form {
    width: 568px;
    
    padding-top: 55px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
}

.search-form input[type="text"],
.search-form input[type="number"],
.search-form label {
    font: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000; 
    height: 38px;
}

.check-in-date {
    position: relative;
    min-width: 458px;
    margin-bottom: 31px;
}

.check-in-date input[type="text"] {
    padding-left: 13px;
    margin-left: 20px;
}

.check-out-date {
    position: relative;
    min-width: 458px;
    margin-bottom: 30px;
}

.check img {
    fill: #cacaca;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-10px,-50%);
}

.check img:hover {
    fill: #81b3d2;
}

.check-out-date input[type="text"] {
    -webkit-appearance: none;
    padding-left: 12px;
    margin-left: 17px;
}

.number-human {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    margin-bottom: 52px;
}

.adults input[type="number"] {
    padding-left: 0;
    margin-left: 37px;
}

.children input[type="number"] {
    margin-left: 27px;
}

.search-form input[type="text"] {
    width: 346px;

    background-color: #f2f2f2;
    border: 0;
}

.search-form input[type="number"] {
    text-align: center;

    width: 114px;
    background-color: #f2f2f2;
    border: 0;
}

.search-form input[type="text"]:hover,
.search-form input[type="number"]:hover {
    background-color: #ebebeb;
}

.search-form input[type="text"]:focus,
.search-form input[type="number"]:focus {
    background-color: #ffffff;
}

.search-form input[type="submit"] {
    -webkit-appearance: none;
    font: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    width: 458px;
    background-color: #81b3d2;
    
    padding-top: 16px;
    padding-left: 196px;
    padding-right: 197px;
    padding-bottom: 16px;
    border: none;
}

.search-form input[type="submit"]:hover {
    background-color: #669ec0;
    border: none;
}

.search-form input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
    border: none;
}

/* footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    background-color:rgba(255, 255, 255, 0.9);
    
    padding: 0;
    margin: 0;
    
    position: absolute;
    bottom: 0;
}

.footer-block {
    width: 400px;
    padding-top: 34px;
    padding-bottom: 32px;
}

.contacts {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;

    padding-left: 132px;
}

.contacts> a {
    margin-bottom: 10px;    
}

.contacts p {
    margin: 0;    
}

.contacts a {
    color: #000000;
}

.socials ul{
    display: flex;
    flex-wrap: wrap;
    width: 156px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.socials li {
    list-style: none;
    margin-bottom: 6px;
    background-color: #81b3d2;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;    
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    opacity: 0.3;
    background-color: #5496bd;
}

.html-academy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.html-academy p {
    line-height: 26px;
    color: #000000;
    margin-right: 9px;
}

.logo-html-academy {
    display: block;
    width: 115px;
    height: 41px;
}

.logo-html-academy:hover {
    fill: #81b3d2;
}

.logo-html-academy:active {
    fill: #bdbbbc;
}

/* форма сортировки отелей */
.navigation-cataog {
    position: static;
}

.hotels-sorting {
    display: flex;
    width: 1200px;
    padding-top: 27px;
    padding-left: 72px;
    padding-right: 74px;
    padding-bottom: 28px;
    margin: 0;
    background-image: url(../img/filter-sedona.jpg);         
    background-position-y: -60px;
}

.hotels-sorting p {
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
}

.infrastructure {
    margin: 0;
}

.infrastructure p,
.type-home p {
    margin-bottom: 24px;
}

.infrastructure input[type="checkbox"] {
    margin-left: -40px;
    margin-bottom: 23px;
}

.infrastructure li,
.type-home li {
    list-style: none;
}

.hotels-sorting ul {
    margin: 0;
}

.type-home {
    margin: 0;
    margin-left: 115px;
}

.type-home input[type="checkbox"] {
    margin-left: -40px;
    margin-bottom: 23px;
}

.price-day {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 380px;
}

.price-day>p {
    margin-bottom: 13px;
}

.price-number {
    display: flex;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
    margin-bottom: 13px;
    width: 314px;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.price-number p {
    font-weight: normal;
    text-align: center;
    width: 157px;
}

.price-number p:nth-child(2) {
    font-size: 25px;
    width: 2px;
}

.infrastructure,
.type-home,
.price-day {
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #ffffff;
}

.price-day input[type="range"] {
    margin: 0;
    margin-bottom: 23px;
}

.price-day input[type="submit"] {
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 133px;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.price-day input[type="submit"]:hover {
    color: #000000;

    background-color: #ffffff;
}

/* сортировка отелей */
.sorting {
    display: flex;
    align-items: baseline;
    padding: 0;
    margin: 0;
    width: 1200px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.sorting{
    display: flex;
}

.sorting-price,
.sorting-id {
    display: flex;
    align-items: baseline;
    padding-top: 30px;
    padding-bottom: 30px;
    
    width: 600px;
}

.sorting-price {
    justify-content: space-between;
    padding-left: 72px;
}

.sorting ul {
    display: flex;
    justify-content: space-between;
    width: 238px;
    list-style: none;
    padding: 0;
    padding-right: 16px;
    margin: 0;
}

.sorting-price p,
.sorting a {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin: 0;
}

.sorting li:nth-of-type(2) a:hover,
.sorting li:nth-of-type(3) a:hover {
    color:#81b3d2;
}

.sorting li:nth-of-type(2) a:active,
.sorting li:nth-of-type(3) a:active {
    color: #000000;
    border-bottom: none;
}

.sorting-id {
    padding-top: 30px;
    padding-bottom: 30px;
}
.sorting-id ul {
    width: 600px;
    justify-content: flex-end;
    padding-right: 73px;
}


.sorting p:first-child {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.sorting-price li:first-child a {
    color: #81b3d2;
    border: none;
}

.sorting-price li:nth-of-type(2) a,
.sorting-price li:nth-of-type(3) a {
        color: rgba(0, 0, 0, 0.3);
    
    border-bottom: 1px dotted #81b3d2;
}

.sorting-id li:first-child a {
    display: block;
    border: 10px solid #cacaca;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-top-color: transparent;
}

.sorting-id li:first-child a:hover {
    border: 10px solid #000000;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-top-color: transparent;
}

.sorting-id li:first-child a:active {
    border: 10px solid #81b3d2;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-top-color: transparent;
}

.sorting-id li:last-child a {
    display: block;
    margin-left: 12px;
    border: 10px solid #81b3d2;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-bottom-color: transparent;

    transform: translateY(50%);
}

.sorting-id li:last-child a:hover {
    border: 10px solid #000000;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-bottom-color: transparent;
}

.sorting-id li:last-child a:active {
    border: 10px solid #81b3d2;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent; 
    border-bottom-color: transparent;
}

/* карточки отелей */
.hotels ul {
    padding: 0;
    margin: 0;
    width: 1200px;
    background-color: #ffffff;
    list-style: none;
}

.hotels li {
    display: flex;
    padding: 0;
    margin: 0;
    
    border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding-top: 30px;
    padding-left: 72px;
    padding-right: 105px;
    padding-bottom: 30px;
}

.hotel-text {
    width: 258px;
    padding: 0;
}

.hotel-text> a{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;

    margin: 0;
}

.hotel-text> a:hover {
    color: #81b3d2;
}

.hotel-text> a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-text p {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 10px;
}

.price {
    margin-left: 39px;
}

.hotel-button {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.hotel-details {
    color: #ffffff;
    text-align: center;
    width: 110px;

    padding-top: 3px;
    padding-bottom: 3px;
 
    background-color: #81b3d2;
}

.hotel-details:hover {
    background-color: #669ec0;
}

.hotel-details:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.hotel-reservation {
    color: #ffffff;
    text-align: center;
    width: 142px;
    padding-top: 3px;
    padding-bottom: 3px;

    background-color: #766357;
}

.hotel-reservation:hover {
    background-color: #604e43;
}

.hotel-reservation:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.rating {
    width: 600px;
    align-self: center; 
    text-align: center;
    padding-left: 417px;
}

.rating p {
    color: #666666;
    
    background-color: rgba(0, 1, 1, 0.2);
    width: 110px;
    margin: 0;
    padding-top: 3px;
    padding-right: 0;
    padding-bottom: 3px;
}

.star {
    background-image: url(../img/star.svg);
    background-repeat: space;
    margin: 0;
    margin-bottom: 47px;
    height: 17px;
}

.hotel-star {
    width: 89px;
    margin-left: 22px;
}

.motel-star {
    width: 60px;
    margin-left: 52px;
}

.apartments-star {
    width: 42px;
    margin-left: 70px;
}

.footer-catalog {
    position: static;
}
